*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: PopLight;
  src: url("./fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: PopRegular;
  src: url("./fonts/Poppins-Regular.ttf");
}

body {
  font-family: PopLight;
}

header {
  width: 100%;
  color: #fff;
  background: #121e2d;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  display: flex;
}

nav {
  min-height: 70px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.show-desktop {
  display: inherit;
}

ul li a {
  padding-right: 40px;
  font-size: 20px;
}

svg {
  display: none;
}

.logo {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

.banner {
  margin: auto;
  display: grid;
  grid-template-columns: 5% 1fr 1fr 5%;
  align-items: center;
  justify-items: center;
  min-height: 330px;
  width: 100%;
}

.description {
  grid-column: 2/3;
}

.description h1 {
  font-size: 3.2rem;
}
.description h4 {
  font-size: 1.5rem;
}
.description p {
  font-size: 1.3rem;
}

.image img {
  width: 330px;
  border-radius: 5px;
  margin-bottom: -100px;
}

/* about -- */

#about {
  margin: 7rem 0;
}

#about h1 {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#about p {
  width: 70%;
  font-size: 1.3rem;
  margin: 40px auto 20px auto;
  text-align: center;
  line-height: 2.7rem;
  font-weight: lighter;
}

.profile-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#about a {
  width: 300px;
  height: 70px;
  color: #fff;
  background: #121e2d;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  padding: 21px;

  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}

/*  Client- ish */
#clients {
  padding: 4rem;
  background: #fbfbfb;
}
.clients h1 {
  text-align: center;
  text-transform: uppercase;
}

.clients ul {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.3;
}

/*--work---*/
#work {
  padding: 4rem 0;
  background: #fbfbfb;
  margin: 40px 0;
}

.download {
  margin-bottom: 4rem;
  width: 100%;
  background: #f7f7f7;
  display: flex;
  justify-content: center;
}

.download p {
  color: #222;
  line-height: 70px;
  padding-left: 40px;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: c;
}

.tab-border {
  border-bottom: #121e2d 4px solid;
  padding-right: 2rem;
}

#work h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.projects {
  display: flex;
  justify-content: center;
}

figure img {
  width: 100%;
}

figure {
  background: #fff;
  width: 323px;
  margin: 10px 20px;
}

figure:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 0.2s ease-in;
}

figcaption {
  font-size: 1rem;
  padding: 10px;
  font-weight: bold;
  margin: 1.2rem 0;
}

figure p {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
}
.projects a {
  font-weight: bold;
  margin-top: 60px;
  color: #121e2d;
  padding: 10px;
  font-size: 1rem;
}

.border1 {
  display: none;
}

.more {
  width: 100%;
  text-align: center;
  margin: 5.2rem 0;
}

.more a {
  width: 300px;
  background: #121e2d;
  padding: 20px 40px;

  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}
/*footer-----*/

#footer {
  background: #121e2d;
  width: 100%;
  min-height: 390px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

footer p {
  font-size: 1.4rem;
  width: 70%;
  text-align: center;
  color: #fff;
}

footer button {
  width: 200px;
  height: 70px;
  outline: none;
  color: #fff;
  background: #121e2d;
  margin-top: 40px;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: monospace;
}

.connect ul {
  display: flex;
  justify-content: space-around;
  color: #111;
  width: 100%;
  padding: 10px;
}
.connect a {
  color: #111111;
}

.connect a:hover {
  color: #121e2d;
  font-weight: bold;
}

@media (max-width: 960px) {
  .banner {
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    height: 90vh;
  }

  .description {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    align-self: start;
  }

  figure {
    margin: 30px 0;
  }

  .image {
    grid-column: 2/3;
  }

  .description h1 {
    font-size: 3.7rem;
  }

  #about p {
    width: 95%;
    font-size: 1rem;
    line-height: 1.9rem;
  }

  .projects {
    flex-direction: column;
    align-items: center;
  }

  .clients ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hide-mobile {
    display: none;
  }

  .image img {
    width: 300px;
    margin-bottom: 0;
  }

  .clients ul li {
    padding: 1.25rem 0;
  }

  #footer {
    padding: 2.5rem;
  }
  footer p {
    font-size: 1rem;
    width: 90%;
  }

  svg {
    cursor: pointer;
    display: inherit;
  }

  .show-desktop {
    display: inherit;
    position: absolute;
    top: 8%;
    width: 90%;
    background: #0d1620;
    padding: 1.2rem;

    transition: all 5s ease-out;
  }

  .show-desktop a {
    color: #dfdfdf;
    margin: 13rem 0;
    cursor: pointer;
    text-align: center;
  }

  .hide-mobile {
    display: none;
  }
}

@media (max-width: 700px) {
  .image img {
    width: 270px;
  }

  .description h1 {
    font-size: 2.3rem;
  }

  .description h4 {
    font-size: 1.2rem;
  }

  .description p {
    font-size: 0.9rem;
  }
}

/* testimonial */

.review-area {
  background: #121e2d;
  margin: 4.5rem 0;
}

.review-title {
  text-align: center;
  padding: 20px 0px;
  border-bottom: 2px solid #dddddd;
}
.single-review {
  background: #dddddd;
  margin: 100px 40px;
  padding: 50px;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.img-thumbnail {
  width: 100px;
  position: absolute;
  left: 4px;
  top: 50%;
  margin-left: -50px;
}
.img-thumbnail img {
  border: 8px solid #ddd;
  border-radius: 50%;
}
.review-content {
  margin-top: 40px;
}
.review-content h2 {
  font-size: 20px;
  color: #2d2d2d;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.review-content h5 {
  font-size: 16px;
  color: #0c0c0c;
  font-style: italic;
  margin-bottom: 20px;
}
.review-content p {
  font-size: 16px;
  color: #0c0c0c;
  line-height: 26px;
}

/*Control CSS*/
button:focus {
  outline: none;
}

.owl-dots .owl-dot {
  background: #dddddd !important;
  width: 16px;
  height: 16px;
  position: relative;
  bottom: 40px;
  left: 50%;
  margin-right: 15px;
  border-radius: 50%;
  transition: 0.4s;
}
.owl-dots {
  margin-left: 18px;
}
button.owl-dot:hover,
button.owl-dot.active {
  background: #2d2d2d !important;
}
